:root {
    --main-bg: #E6ECF0;
    --link-color: #3B94D9;
    --main-link-color: #848487;
    --light-bg: #FFF;
    --separator-color: #DDD;
    --subdued-color:#555;
    font:16px Eczar;
}

body{
    box-sizing:border-box;
    background-color:#eee;
    background-image:url(../img/what-the-hex.png);
    color:#222;
    margin:0;
}
main{
    text-align:center;
}
.postFooter{
    float:left;
}
.categoryTag:hover{
    cursor:pointer;
    color:orangered !important;
    text-decoration: underline !important;
}
.created_at, .categoryTag{
    display:inline-block;
    font-size:0.75em;
    color:var(--subdued-color);
}
.card-header{
    cursor:pointer;
}
#profile{
    position:fixed;
    top:1.5em;
    left:1.5em;
    float:left;
    width:14%;
    background-color:var(--main-bg);
}
#profile nav ul{
    list-style:none;
    font-size:0.7em;
}


#profile nav li{
    padding:0.5em 0;
    color:#222;
    transition:0.5s;
}
#profile nav li:hover{
    background-color:maroon;
    color:#FFF;
    width:100%;
}
#profile nav a{
    transition:0.5s;
    color:#222;
}
#profile nav a:hover{
    color:#FFF;
}



#profile p{
    font-size:0.7em;
}

#profileBorder{
    width:100px;
    height:100px;
    border-radius:50%;
    overflow:hidden;
}
#profile img{
    position:relative;
    left:-15%;
    top:-10%;
    width:130%;
}
#search{
    position:fixed;
    top:1.5em;
    right:1.5em;
    width:14%;
    float:right;
}
#searchclear:hover {
    transform:scale(1.2);
    color: #c22;
}
#searchclear {
    transition:all 0.2s ease-in-out;
    position: absolute;
    right: 7px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
 }