.jumbotron{
    background-image: url("../img/pizza.png") ;
    background-size:cover ;
}
.jumbotron h1{
    text-align: center;
    background-color:white;
    opacity:0.65;
}

/*Fixing Nav Bar Colors and Size*/
nav li{
    padding:8px;
}
li.nav-item.active{
    background-color:#e7e7e7;
}
li.nav-item:hover{
    background-color:#e7e7e7;
}
li.nav-item.active a{
    color:#777 !important;
}


#BackToTop{
    font-size: 1em;
    position:fixed;
    bottom:1em;
    right:0.75em;
}

/*Sign Up Button Animations*/
#SignUpBtn:hover {
    color: orangered !important;

}
.shake:hover{
    animation: pulse 1s;

    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}
.shake:not(:hover){
    animation: shake 0.3s;

    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}
@keyframes pulse {
    0%   { transform: scale(1); }
    50%  { transform: scale(1.1); }
    100%  { transform: scale(1); }
}

@keyframes shake {
     0%   { transform: rotate(0deg); }
     10%  { transform: rotate(-1deg); }
     20%  { transform: rotate(1deg); }
     30%  { transform: rotate(0deg); }
     40%  { transform: rotate(1deg); }
     50%  { transform: rotate(-1deg); }
     60%  { transform: rotate(0deg); }
     70%  { transform: rotate(-1deg); }
     80%  { transform: rotate(1deg); }
     90%  { transform: rotate(0deg); }
     100% { transform: rotate(-1deg); }
 }