.jumbotron{
    background-image: url("../img/pizza.png") ;
    background-size:cover ;
    padding-left: 0;
    padding-right:0;
}
.jumbotron h1{
    text-align: center;
    background-color:white;
    margin:0;
    opacity:0.65;
}
nav.navbar{
    padding-top:0;
    padding-bottom:0;
}
nav li{
    padding:8px;
}
li.nav-item.active{
    background-color:#e7e7e7;
}
li.nav-item:hover{
    background-color:#e7e7e7;
}
li.nav-item.active a{
    color:#777 !important;
}