:root {
    --main-bg: #E6ECF0;
    --link-color: #3B94D9;
    --main-link-color: #848487;
    --light-bg: #FFF;
    --separator-color: #DDD;
}
body{
    box-sizing:border-box;
    background-color:#eee;
    background-image:url(../img/what-the-hex.png);
    color:#222;
    margin:0;
    font-family: Eczar;
}
main{
    text-align:center;
}
h3{
    line-height:50px;
    margin:0;
}
h2{
    color: #222;
    text-decoration: underline;
}
legend{
    font-size:20px;
    font-weight:bold;

}
ul,ol{
    margin-top:4px;
}
li{
    list-style: none;
}
table{
    width:100%;
    font-size:14px;
    padding:6px;
    border-collapse: collapse;
}
td{
    border:solid;
    border-width:1px 0 0 0;
    padding:4px;
}
tr{
    background-color:#9e9;
}
tr:nth-child(2n){
     background-color:#9c9;
 }
#companyVision img{
    width:500px;
    height:300px;
}
th{
    background-color:#99c;
}
a:active{
    color:red;
}
a:hover{
    color:green;
}
a:link{
    color:purple;
}
a:visited{
    color:blue;
}
footer{
    text-align:center;
}
footer h3{
    margin-top:0;
}
#header{
    text-align:left;
    margin:.5em;
}
.fancy-header {
    color: purple; /* single line comment */
    text-decoration: none;
}
#logo{
    float:left;
    height:50px;
}
#productListing table{
    margin:auto;
    text-align:center;
}
#tableContainer{
    border: 1px solid black;
    border-radius:20px;
    overflow: hidden;
    margin:auto;
    width:40%;
}
#companyVision{
    height:60px;
    overflow:hidden;

    /*Animation*/
    -webkit-transition: height 1s ease;
    -moz-transition: height 1s ease;
    -o-transition: height 1s ease;
    -ms-transition: height 1s ease;
    transition: height 1s ease;
}
#companyVision:hover{
    height:700px;
}
#first-section{}
#coreValues{
    float: left;
    padding-left:3em;
}
#ourProcess{
    float: right;
    padding-right:3em;
}
.text-muted {
    color: var(--main-link-color);
}
.slogan{
    position:relative;
    top:-1.5em;
    padding-left:60px;
}